<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pie Chart</title>
    <link rel="stylesheet" href="css/visualization.css">

       
</head>


<body>

    <header>
        Ministry of Environment - Saving Weltands Monitoring Dashboard
    </header>

    <div class="chart-container">
        <canvas id="myPieChart"></canvas>
    </div>

    <div id="requirements-saving-wetlands" class="requirements hidden">
        <table>
            <tr>
                <th>Category</th>
                <th>Requirement</th>
            </tr>
            <tr>
                <td>Product Purchase</td>
                <td>Encourage the use of eco-friendly products for wetland conservation.</td>
            </tr>
            <tr>
                <td>Schemes</td>
                <td>Need more grants for local wetland restoration initiatives.</td>
            </tr>
            <tr>
                <td>Community</td>
                <td>Request for educational programs on the importance of wetlands.</td>
            </tr>
            <tr>
                <td>Programs</td>
                <td>More initiatives for restoring degraded wetland areas.</td>
            </tr>
            <tr>
                <td>Services</td>
                <td>Establish more wetland conservation centers in key locations.</td>
            </tr>
        </table>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="js/wetlands.js"></script>

</body>
</html>
