<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/header.ejs') %>

<body>


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">

        <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h1 class="m-0">EcoTrack</h1>
        </a>

        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/products" class="nav-item nav-link ">View Products</a>
                <a href="/govern-home" class="nav-item nav-link">Ministry Dashboard</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">User Dashboard</a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="/product" class="dropdown-item">Good Product</a>
                        <a href="/product" class="dropdown-item">Schemes</a>
                        <a href="/product" class="dropdown-item">Community</a>
                        <a href="/product" class="dropdown-item">Programs</a>
                    </div>
                </div>
                <a href="/user-login" class="nav-item nav-link">Login</a>               
            </div>
        </div>
           
    </nav>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">

        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img class="w-100" src="/img/home.jpeg" alt="Image" style="height: 800px; object-fit: cover;">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h1 class="text-white mb-3 animated slideInDown" style="line-height:70px; font-size:50px;">Every act of environmental kindness ripples into a wave of positive impact.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="w-100" src="/img/home2.jpeg" alt="Image" style="height: 800px; object-fit: cover;">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                    <h1 class="text-white mb-3 animated slideInDown" style="line-height:70px; font-size:50px;">Earth smiles when we tread lightly</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>

    </div>
    <!-- Carousel End -->




   <!-- Top Feature Start -->
    <div class="container-fluid top-feature py-5 pt-lg-0">
        <div class="container py-5 pt-lg-0">
            <div class="row gx-4">  

                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="bg-white shadow d-flex align-items-center h-100 px-5 mb-4" style="min-height: 160px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-light">
                                <i class="fa fa-tasks" style="font-size:30px; color:rgb(0,100,0);"></i>
                            </div>
                            <div class="ps-3">
                                <h4>LiFE Campaign Themes</h4>
                                <span>Explore the six major themes promoting sustainable living.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="bg-white shadow d-flex align-items-center h-100 px-5 mb-4" style="min-height: 160px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-light">
                                <i class="fa fa-clipboard-list" style="font-size:30px; color:rgb(0,100,0);"></i>
                            </div>
                            <div class="ps-3">
                                <h4>Concentrated Themes</h4>
                                <span>Our portal focuses on LiFE goods, schemes, community initiatives, and programs for each theme.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="bg-white shadow d-flex align-items-center h-100 px-5 mb-4" style="min-height: 160px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-light">
                                <i class="fa fa-star" style="font-size:30px; color:rgb(0,100,0);"></i>
                            </div>
                            <div class="ps-3">
                                <h4>Eco-Friendly Rewards</h4>
                                <span>Each user can earn rewards based on their eco-friendly activities and participation.</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Top Feature End -->



    <!-- Benefits Section Start -->
    <div class="container-fluid benefits py-5">
        <div class="container">
            <h2 class="text-center mb-4">Benefits of Participation</h2>
            <div class="row gx-4">

                <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="bg-white shadow text-center p-4 rounded mb-4 benefit-card">
                        <div class="btn-lg-square rounded-circle bg-light mx-auto mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-award" style="font-size: 30px; color: rgb(0,100,0);"></i>
                        </div>
                        <h4>Rewards for Participants</h4>
                        <p>Every participant can earn rewards for their involvement in eco-friendly activities.</p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="bg-white shadow text-center p-4 rounded mb-4 benefit-card">
                        <div class="btn-lg-square rounded-circle bg-light mx-auto mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-leaf" style="font-size: 30px; color: rgb(0,100,0);"></i>
                        </div>
                        <h4>Positive Environmental Impact</h4>
                        <p>Every activity leads to positive impacts on the environment, promoting sustainability.</p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="bg-white shadow text-center p-4 rounded mb-4 benefit-card">
                        <div class="btn-lg-square rounded-circle bg-light mx-auto mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-hand-holding-heart" style="font-size: 30px; color: rgb(0,100,0);"></i>
                        </div>
                        <h4>Resource Requests</h4>
                        <p>Users can make requests for the resources they need to participate in LiFE themes.</p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeIn" data-wow-delay="0.7s">
                    <div class="bg-white shadow text-center p-4 rounded mb-4 benefit-card">
                        <div class="btn-lg-square rounded-circle bg-light mx-auto mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-sync-alt" style="font-size: 30px; color: rgb(0,100,0);"></i>
                        </div>
                        <h4>Daily Actions Matter</h4>
                        <p>Every individual's daily actions contribute to valuable impacts in LiFE themes.</p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeIn" data-wow-delay="0.9s">
                    <div class="bg-white shadow text-center p-4 rounded mb-4 benefit-card">
                        <div class="btn-lg-square rounded-circle bg-light mx-auto mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-chart-line" style="font-size: 30px; color: rgb(0,100,0);"></i>
                        </div>
                        <h4>Government Monitoring</h4>
                        <p>The government can monitor overall reports in each LiFE theme effectively.</p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeIn" data-wow-delay="1.1s">
                    <div class="bg-white shadow text-center p-4 rounded mb-4 benefit-card">
                        <div class="btn-lg-square rounded-circle bg-light mx-auto mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-exclamation-triangle" style="font-size: 30px; color: rgb(0,100,0);"></i>
                        </div>
                        <h4>Addressing Gaps</h4>
                        <p>Government can address the gaps in areas related to LiFE themes efficiently.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Benefits Section End -->



    <!-- Features Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="fs-5 fw-bold text-primary">Why EcoTrack!</p>
                    <h1 class="display-5 mb-4">Reasons to Choose Us!</h1>
                    <p class="mb-4">Every user can earn rewards while monitoring their impact. The government can address gaps in LiFE themes, and users can request resources for their required areas.</p>
                </div>
                <div class="col-lg-6">
                    <div class="row g-4 align-items-center">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="text-center rounded py-5 px-4" style="box-shadow: 0 0 45px rgba(0,0,0,.08);">
                                        <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 100px; height: 100px;">
                                            <i class="fa fa-award text-primary" style="font-size: 50px;"></i>
                                        </div>
                                        <h4 class="mb-0">Rewards for Users</h4>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="text-center rounded py-5 px-4" style="box-shadow: 0 0 45px rgba(0,0,0,.08);">
                                        <div class="btn-square bg-light rounded-circle mx-auto mb-6" style="width: 100px; height: 100px;">
                                            <i class="fa fa-chart-line text-primary" style="font-size: 50px;"></i>
                                        </div>
                                        <h4 class="mb-0" style="margin:20px;">Impact Monitoring</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="text-center rounded py-5 px-4" style="box-shadow: 0 0 45px rgba(0,0,0,.08);">
                                <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                                    <i class="fa fa-map-marker-alt text-primary" style="font-size: 50px;"></i>
                                </div>
                                <h4 class="mb-0">Resource Requests</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>

        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-4 mb-3">LiFE campaign's themes</h1>
                </div>

                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded d-flex h-100">
                            <div class="service-img rounded">
                                <img class="img-fluid" src="/img/waste.jpeg" alt="">
                            </div>
                            <div class="service-text rounded p-5">
                                <div class="btn-square rounded-circle mx-auto mb-3">
                                    <i class="fa fa-trash fa-3x text-primary"></i>
                                </div>
                                <h4 class="mb-3">Reducing Waste</h4>
                                <p class="mb-4">Waste is only waste if we waste the opportunity to reuse it.</p>
                                <a class="btn btn-sm" href="/product"><i class="fa fa-plus text-primary me-2"></i>Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded d-flex h-100">
                            <div class="service-img rounded">
                                <img class="img-fluid" src="/img/healthy.jpeg" alt="">
                            </div>
                            <div class="service-text rounded p-5">
                                <div class="btn-square rounded-circle mx-auto mb-3">
                                    <i class="fa fa-heartbeat fa-3x text-primary"></i>
                                </div>
                                <h4 class="mb-3">Adopting Healthy Lifestyles</h4>
                                <p class="mb-4">A healthy lifestyle is the foundation of a vibrant life. Choose well, live well.</p>
                                <a class="btn btn-sm" href="/product2"><i class="fa fa-plus text-primary me-2"></i>Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded d-flex h-100">
                            <div class="service-img rounded">
                                <img class="img-fluid" src="/img/water.jpeg" alt="">
                            </div>
                            <div class="service-text rounded p-5">
                                <div class="btn-square rounded-circle mx-auto mb-3">
                                    <i class="fa fa-tint fa-3x text-primary"></i>
                                </div>
                                <h4 class="mb-3">Water Management</h4>
                                <p class="mb-4">Every drop counts—conserve today to secure tomorrow’s flow.</p>
                                <a class="btn btn-sm" href="https://evyatra.beeindia.gov.in/central-govt-initiative-details/dhi-fame-scheme-phase-1-2015/"><i class="fa fa-plus text-primary me-2"></i>Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded d-flex h-100">
                            <div class="service-img rounded">
                                <img class="img-fluid" src="/img/energy.jpeg" alt="">
                            </div>
                            <div class="service-text rounded p-5">
                                <div class="btn-square rounded-circle mx-auto mb-3">
                                    <i class="fa fa-bolt fa-3x text-primary"></i>
                                </div>
                                <h4 class="mb-3">Energy Efficiency</h4>
                                <p class="mb-4">Efficient energy use is the key to powering a sustainable future.</p>
                                <a class="btn btn-sm" href="https://swachhbharatmission.gov.in/sbmcms/index.htm"><i class="fa fa-plus text-primary me-2"></i>Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded d-flex h-100">
                            <div class="service-img rounded">
                                <img class="img-fluid" src="/img/wetlands.jpeg" alt="">
                            </div>
                            <div class="service-text rounded p-5">
                                <div class="btn-square rounded-circle mx-auto mb-3">
                                    <i class="fa fa-water fa-3x text-primary"></i>
                                </div>
                                <h4 class="mb-3">Saving Wetlands</h4>
                                <p class="mb-4">Wetlands are nature's guardians—protect them to protect our planet.</p>
                                <a class="btn btn-sm" href="https://nwm.gov.in/catchtherain"><i class="fa fa-plus text-primary me-2"></i>Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded d-flex h-100">
                            <div class="service-img rounded">
                                <img class="img-fluid" src="/img/waste.jpeg" alt="">
                            </div>
                            <div class="service-text rounded p-5">
                                <div class="btn-square rounded-circle mx-auto mb-3">
                                    <i class="fa fa-recycle fa-3x text-primary"></i>
                                </div>
                                <h4 class="mb-3">Solutions to Plastic Pollution</h4>
                                <p class="mb-4">Turning the tide on plastic pollution starts with one simple choice: rethink, reduce, reuse.</p>
                                <a class="btn btn-sm" href="https://jaljeevanmission.gov.in/"><i class="fa fa-plus text-primary me-2"></i>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->

    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>



    
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-end">
                <div class="col-lg-6 col-md-7 wow fadeInUp" data-wow-delay="0.3s">
                    <h1 class="display-5 mb-4">How to Get Involved?</h1>
                    <p class="mb-4">Join us in fostering a sustainable future! Engage in eco-friendly practices by supporting local initiatives, participating in community programs, and reducing your carbon footprint through mindful daily actions.</p>
                </div>
                <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row g-5">
                        <div class="col-12 col-sm-6 col-lg-6">
                            <div class="border-start ps-4">
                                <i class="fa fa-recycle fa-3x text-primary mb-3"></i>
                                <h4 class="mb-3">Reduce & Recycle</h4>
                                <span>Embrace practices that minimize waste and promote recycling in your community.</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-6">
                            <div class="border-start ps-4">
                                <i class="fa fa-hand-holding-heart fa-3x text-primary mb-3"></i>
                                <h4 class="mb-3">Support Local Initiatives</h4>
                                <span>Get involved with local organizations that promote sustainability and conservation.</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-6">
                            <div class="border-start ps-4">
                                <i class="fa fa-users fa-3x text-primary mb-3"></i>
                                <h4 class="mb-3">Join Community Events</h4>
                                <span>Participate in workshops and events that raise awareness about environmental issues.</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-6">
                            <div class="border-start ps-4">
                                <i class="fa fa-clipboard-list fa-3x text-primary mb-3"></i>
                                <h4 class="mb-3">Track Your Impact</h4>
                                <span>Use tools to monitor your eco-friendly actions and see the difference you're making.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->





  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/lib/wow/wow.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/waypoints/waypoints.min.js"></script>
  <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/lib/counterup/counterup.min.js"></script>
  <script src="/lib/parallax/parallax.min.js"></script>
  <script src="/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/lib/lightbox/js/lightbox.min.js"></script>

  <!-- Template Javascript -->
  <script src="/js/main.js"></script>

</body>

</html>